@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.topNav{
    // border: 2px solid $color-light;
    background-color: black;
    padding: 7px 10px;
    // position: fixed;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 4rem;
    }
    &__logo {
        height: 2.25rem;
        margin: 0 4rem;
    }
    &__p{
        margin: .25rem 0;
        color: $color-dark2;
    }

}
.filter-white{
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(105deg) brightness(110%) contrast(100%);}


