@use './fonts' as *;
// fonts
// $font-primary: 'AvenirNext LT Pro';
// primary colors
$primary-font: Helvetica, sans-serif;
$secondary-font: 'MATRIX';
$color-dark: #323232;
$color-dark2: #20a320;
$color-light:#AFAFAF;
$color-accent: #FFFFFF;
// secondary colors
$color-dark-sec: #000000;
$color-dark2-sec: #881b88;
$color-light-sec: #E1E1E1;
$color-accent-sec: #FAFAFA;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;