@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.projectList {
    display: flex;
    flex-direction: column;
    background-color: $color-light-sec;
    &__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    &__title{
        font-family: $secondary-font;
        font-size: 1.5rem;
        margin-left: 10%;
        @include tablet {
            font-size: 2.5rem;
        }
 
     

    }
}