@use '../../styles/mixins' as *;

.about {
    display: flex;
    justify-content: center;
    margin: 1rem;
    &__title {
        font-size: 2rem;
    }
    &__div1 {
        width: 60%;
    }
    &__div2 {
        width: 40%;
    }
}