@use '../../styles/mixins' as *;

.about {
    display: flex;
    width: 100%;
    margin: 1rem;
    justify-content: space-around;
    margin-top: 15%;
    &__title {
        font-size: 3rem;
        width: 75%;
        margin-bottom: 2rem;
        line-height: 4rem;
    }
    &__info {
        width: 50%;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        margin-left:2rem;
    }
    &__more {
        display:flex;
        flex-direction: column;
        // align-items: center;
        width: 40%;
    }
    &__p {
        width: 90%;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    &__imgSelf {
        width: 75%;
        border-radius: 3rem;
        transform-origin: center;
        transform: rotate(7deg);
        margin-bottom: 2.5rem;
    }
    &__social {
        // width: 50%;
        border-bottom: 1px solid rgb(189, 188, 188);
        padding-bottom: 3rem;
        &--icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
        &--p{
            margin:0;
        }
    }
    &__socialListItem {
        width: 100%;
        display: flex;
        margin: 1.5rem 0;
        
       
    }
}