@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.box-item {
  margin:0rem;
  color:$color-accent;
  position: relative;
  //-webkit-backface-visibility: hidden;
  width: 320px;
  margin-bottom: 35px;
  max-width: 100%;
  padding-bottom:.25rem;
  @include tablet {
    padding-bottom:1rem;
    margin:2rem;
    width: 370px;
  }
  color:$color-accent;
  position: relative;
  //-webkit-backface-visibility: hidden;
  width: 320px;
  margin-bottom: 35px;
  max-width: 100%;
  margin:2rem;
  padding-bottom:1rem;
  @include tablet {
    width: 370px;
  }
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  
  &-front {
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $color-light-sec;
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
  } &-back{
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $color-dark2-sec;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    // -webkit-transform-style: preserve-3d;
    // -ms-transform-style: preserve-3d;
    // transform-style: preserve-3d;
  }
}

//when you hover over it flip the box
.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

//when you hover over the flip box back it rotates
.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-inner {
  position: absolute;
  left: 0;
  padding: 60px;
  //outline: 1px solid transparent;
  //-webkit-perspective: inherit;
  //perspective: inherit;
  //z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  //-webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  //-ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 24px;
  padding-top:1.5rem;
  &--sub {
    font-size: 22px;
  }
}

.flip-box-p {
  font-size: 16px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-left: 50px;
  @include tablet{
    margin-top: 25px;
    margin-left: 100px;
  }
}

.flip-box-button1 {
  background-color: transparent;
  border: 2px solid #fff;
  color: $color-accent;
  cursor: pointer;
  font-size: 0.75rem;    
  font-weight: bold;
  position: absolute;
  padding: 1rem 1.25rem;
  margin: .35rem;
  margin-left:.45rem;
  text-transform: uppercase;
  bottom: -10;
  right: 10%;
  &:hover {
    border:none;
    color:transparent;
    background-image: url("../../assets/icons/github.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  @include tablet {
    padding: 1rem 1.25rem;
    font-size: 1rem;
    padding: 1.25rem 1.5625rem;
  }
}
.flip-box-button2 {
  background-color: transparent;
  border: 2px solid #fff;
  color: $color-accent;
  cursor: pointer;
  font-size: 0.75rem;    
  font-weight: bold;
  position: absolute;
  padding: 1rem 1.25rem;
  margin: .35rem;
  margin-left:.45rem;
  text-transform: uppercase;
  bottom: -10;
  right: 60%;
  &:hover {
    border:none;
    color:transparent;
    background-image: url("../../assets/icons/eye-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  @include tablet {
    padding: 1rem 1.25rem;
    font-size: 1rem;
    padding: 1.25rem 1.5625rem;
    transition: .2s;
  }
}

.wrapper-text {
  backdrop-filter: blur(5px);
}

.flip-box-inner-back {
  position: absolute;
  left: 0;
  padding: 3.75rem;
  outline: 1px solid transparent;
  //-webkit-perspective: inherit;
  //perspective: inherit;
  //z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  //-webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  //-ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 40%;
}
a {
  text-decoration: none;
}
.none {
  display: none;
}