@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.nav {
    color:white;
        position: fixed;
       
        padding: 20px;
        height: 44px;
        width: 100%;
        background-color: black;
        z-index: 10;
    &__list {
       text-decoration: none;
       display: flex;  
       justify-content: space-between;
    }
    &__img{
        margin: 1rem 0;
        height: 30px;
        width: 30px;
        &:hover {
            // z-index: -1;
            // padding: 1.5rem;
            border-radius: 50%;
            background-image: radial-gradient(white, green);
        }
    }
}
