@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.navBar {
    height: 4.0625rem;
    color:white;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    width: 100%;
    background-color: black;
    z-index: 10;
    @include desktop {
        height: 2.75rem;
    }
    &__list {
        text-decoration: none;
        display: flex;  
        justify-content: space-between;
    }
    &__img{
        margin: 1rem 0;
        height: 1.875rem;
        width: 1.875rem;
        &:hover {
            border-radius: 50%;
            background-image: radial-gradient(white, green);
        }
    }
}
.navbar-collapse {
    z-index: 10;
    display: flex;
}
.container-fluid {
    z-index: 10;
    max-width: 1280px;
}
.show {
    z-index: 10;
}