@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
    padding-bottom: 80px;
    @include desktop {
        padding-bottom: 10px;
    }
    &__div{
        display: flex;
        justify-content: center;
        &__p {
            font-size: 1rem;
        }
    }

}