@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.bannerNot {
   
    width: 100%;
    height: 100%;
    &__sketch {
        width: 100%;
        height: 100%;
       
        
        }
    }
   
