@use '../../styles/mixins' as *;

.banner {
    position: relative;
    background-color: black;
    &__sketch {
        position: absolute;
        transform: skewY(-0.04turn);
        transform-origin: top left;
        top:0;
        bottom: auto;
        height: 70vh;
        margin-bottom: 3rem;
        @include desktop {
            //this will be for desktop
        position: absolute;
        transform: skewY(-0.03turn);
        transform-origin: top left;
        top:0;
        bottom: auto;
        height: 80vh;
        }
    }
    &__about {
        background-color: black;
        color: white;
        position: absolute;
        top: 80vh;
        right: 10vw;
    }
}
