@use '../../styles/mixins' as *;
// body {
//     background-color: black;
// }
.banner {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    &__sketch {
        z-index: -1;
        position: absolute;
        transform: skewY(-0.04turn);
        transform-origin: top left;
        top:0;
        bottom: auto;
        height: 70vh;
        margin-bottom: 3rem;
        @include desktop {
        position: absolute;
        transform: skewY(-0.03turn);
        transform-origin: top left;
        top:0;
        bottom: auto;
        height: 80vh;
        
        }
    }
    &__about {
        // background-color: black;
        // padding: 5rem 10rem;
        text-align: right;
        justify-content: center;
        color: black;
        position: absolute;
        top: 80vh;
        right: 10vw;
        font-size: 1.75rem;
        width: 60%;
        font-weight: 700;
    }
}
