@use '../../styles/mixins' as *;
body {
    background-color: black;
}
.banner {
    position: relative;
    background-color: black;
    &__sketch {
        position: absolute;
        transform: skewY(-0.04turn);
        transform-origin: top left;
        top:0;
        bottom: auto;
        height: 70vh;
        margin-bottom: 3rem;
        @include desktop {
            //this will be for desktop
        position: absolute;
        transform: skewY(-0.03turn);
        transform-origin: top left;
        top:0;
        bottom: auto;
        height: 80vh;
        }
    }
    &__about {
        text-align: right;
        justify-content: center;
        color: white;
        position: absolute;
        top: 75vh;
        right: 10vw;
        font-size: 1.75rem;
        width: 60%;
        font-weight: 700;
    }
}
